/* google font --------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* tailwind import ----------------------------------- */
@import "tailwindcss";

/* font set ------------------------------------------ */
.font-geist {
    font-family: "Geist", sans-serif;
}

.active {
    background-color: #3B82F6;
    border-color: #3B82F6;
    color: white;
}